<!DOCTYPE html>
<html>

<head>
    <title>NodeJS: {{title}}</title>
</head>

<body>
    <p>
    <form id="form" action="create" method="post">
        pt 회원 정보 등록<br>
        <input type="text" name="name" placeholder="이름" /><br>
        <input type="text" name="phone" placeholder="핸드폰번호" /><br>
        <button type="submit">전송</button><br>
    </form>
    <p>
        pt 회원 정보 삭제<br>
        {% for pt in pts %}
        <a href="http://localhost:{{port}}/pt/delete/{{pt.ptId}}">http://localhost:{{port}}/pt/delete/{{pt.ptId}}</a><br>
        {% endfor %}
    </p>

    <p>
        pt 회원 목록<br>
        <a href="http://localhost:{{port}}/pt/allPtUser">http://localhost:{{port}}/pt/allPtUser</a><br>
    </p>

    <p>
        pt 회원 일정 조회<br>
        <a href="http://localhost:{{port}}/ptDate">http://localhost:{{port}}/ptDate</a><br>
    </p>
</body>

</html>